@charset "UTF-8";
.container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto; }

.two-col-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px; }

.about-us-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 40px; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff; }

content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background-image: url(../img/backlight.png); }

.slider-1 {
  background-image: url(../img/promoaction-1.png);
  background-color: #87a092;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
  -webkit-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear; }

.slider-2 {
  background-image: url(../img/promoaction-2.png);
  background-color: #8996a6;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
  -webkit-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear; }

.slider-3 {
  background-image: url(../img/promoaction-3.png);
  background-color: #9d8b84;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-transition: background-color 0.6s linear;
  -o-transition: background-color 0.6s linear;
  transition: background-color 0.6s linear;
  -webkit-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.button {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 40px; }

.button:hover,
.button:focus {
  background-color: #e76348;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); }

.button:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#f26843), to(#e74a35));
  background-image: -o-linear-gradient(left, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(90deg, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
          box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64); }

.inner-page {
  background-image: none;
  background-color: #87a092;
  background-image: url(../img/backlight.png);
  background-position: 0 0;
  background-repeat: repeat-x; }

.main-header {
  color: #ffffff;
  margin-bottom: 270px; }

.inner-page .main-header {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px; }

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.main-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.main-header__logo {
  margin: 0;
  margin-top: 10px;
  width: 165px;
  height: 64px; }

.site-navigation,
.user-navigation,
.dropdown-list {
  list-style: none; }

.site-navigation a {
  color: #ffffff;
  line-height: 18px;
  font-weight: 700; }

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 35px; }

.site-navigation a:active {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 0.4);
          box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 0.4); }

.site-navigation {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.site-navigation li > a {
  display: block;
  margin: 0;
  padding: 10px 14px;
  position: relative; }

.dropdown-catalog {
  position: relative; }
  .dropdown-catalog .dropdown-list {
    display: none;
    width: 144px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45px;
    right: -50px;
    background-color: #f8f7f4;
    border-radius: 5px; }
    .dropdown-catalog .dropdown-list li:first-child a {
      position: relative;
      font-weight: 700;
      margin-bottom: 10px; }
    .dropdown-catalog .dropdown-list li:first-child a:before {
      content: "";
      position: absolute;
      width: 128px;
      height: 1px;
      top: 30px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.2); }
    .dropdown-catalog .dropdown-list li {
      margin: 0;
      padding: 0; }
      .dropdown-catalog .dropdown-list li a {
        white-space: nowrap;
        width: auto;
        padding: 0;
        padding: 5px 20px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #323232; }
      .dropdown-catalog .dropdown-list li a:hover {
        background-color: #fbded7;
        border-radius: 0; }
      .dropdown-catalog .dropdown-list li a:active {
        background-color: #f6b5a5; }
      .dropdown-catalog .dropdown-list li a:focus {
        background-color: #d07058;
        border-radius: 0; }

.dropdown-catalog:hover .dropdown-list {
  display: block;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); }

.site-navigation span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.user-navigation {
  margin: 0;
  margin-top: 21px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .user-navigation button {
    cursor: pointer; }

.user-navigation button {
  font-family: inherit;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500; }

.user-navigation li {
  margin-left: 10px;
  padding-bottom: 4px; }

.user-navigation__search {
  width: 34px;
  height: 34px;
  border-radius: 50%; }

.user-navigation__search:hover,
.user-navigation__enter:hover,
.user-navigation__empty-basket:hover,
.user-navigation__search:focus,
.user-navigation__enter:focus,
.user-navigation__empty-basket:focus {
  background-color: #fff;
  color: #323232; }

.user-navigation__search svg {
  text-align: center;
  vertical-align: middle; }

.user-navigation__search:hover path,
.user-navigation__search:focus path {
  fill: #000; }

.user-navigation__enter {
  padding: 8px 17px 10px 45px;
  border-radius: 35px;
  position: relative; }

.user-navigation__enter svg {
  width: 21px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 8px; }

.user-navigation__empty-basket {
  padding: 8px 35px 10px 45px;
  border-radius: 35px;
  position: relative; }

.user-navigation__empty-basket svg {
  width: 21px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 8px; }

.user-navigation__empty-basket:hover circle, .user-navigation__empty-basket:hover path,
.user-navigation__empty-basket:focus circle, .user-navigation__empty-basket:focus path {
  fill: #000; }

.user-navigation__enter:hover polygon, .user-navigation__enter:hover path,
.user-navigation__enter:focus polygon, .user-navigation__enter:focus path {
  fill: #000; }

.search-modal {
  position: relative; }
  .search-modal form {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    border-radius: 5px;
    width: 340px;
    background-color: #f8f7f4;
    padding: 20px 16px; }

.modal-inputs {
  font-family: inherit;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  padding: 8px 15px; }

.modal-inputs::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400; }

.modal-inputs::-moz-placeholder {
  color: #999999;
  font-weight: 400; }

.modal-inputs:-ms-input-placeholder {
  color: #999999;
  font-weight: 400; }

.modal-inputs::-ms-input-placeholder {
  color: #999999;
  font-weight: 400; }

.modal-inputs::placeholder {
  color: #999999;
  font-weight: 400; }

.modal-inputs:hover {
  border: 2px solid #c7c6c5;
  padding: 7px 14px; }

.search-modal:hover form,
.enter-modal:hover div {
  display: block;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); }

.enter-modal {
  position: relative; }
  .enter-modal div {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    width: 280px;
    background-color: #f8f7f4;
    padding: 20px;
    border-radius: 5px;
    z-index: 2; }
    .enter-modal div input {
      margin-bottom: 21px; }
    .enter-modal div button {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      padding: 13px 25px;
      float: left;
      margin-right: 20px; }
    .enter-modal div a {
      color: #323232;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400; }
      .enter-modal div a span {
        border-bottom: 1px solid #adacaa; }

.main-header p {
  margin: 0;
  text-align: right; }

.main-header__work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700; }

.main-header__phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700; }

.breadcrumbs {
  margin: 0;
  padding: 0; }

.breadcrumbs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.good-deal__name {
  width: 700px;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center; }

.good-deal {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

.good-deal__button {
  width: 290.538px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 46px 10px 45px;
  border-radius: 40px;
  color: #ffffff;
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));
  background-image: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64); }

.slider-menu {
  list-style: none;
  margin: 0;
  margin-right: 154px;
  margin-bottom: 19px;
  padding: 0;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-menu__button {
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%; }

.slider-menu__button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  outline: none; }

.current-slider-button {
  background-color: #ffffff; }

.first-promotion {
  margin: 0;
  padding: 20px;
  width: 560px;
  border-radius: 20px;
  background-color: #c1264c;
  background-image: url(../img/rapsberry-background1.jpg);
  background-repeat: no-repeat; }

.first-promotion__name {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700; }

.first-promotion__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; }

.first-promotion .promotion-button {
  margin-left: auto;
  padding: 12px 23px;
  display: block;
  width: 165px;
  text-align: center; }

.second-promotion {
  margin: 0;
  padding: 20px;
  width: 560px;
  border-radius: 20px;
  background-color: #432719;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat; }

.second-promotion__name {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700; }

.second-promotion__text {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700; }

.second-promotion .promotion-button {
  margin-left: auto;
  padding: 12px 23px;
  display: block;
  width: 189px;
  text-align: center; }

.product-list {
  margin: 0;
  margin-bottom: 40px; }

.product-list__items {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.choise-icecream {
  position: relative; }

.choise-icecream:hover p span {
  color: #ffbc9e;
  border-color: #ffbc9e; }

.choise-icecream::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(../img/hit-product.svg);
  background-repeat: no-repeat; }

.icecream p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #ffffff; }

.icecream p span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.icecream img {
  border-radius: 50%;
  margin-bottom: 5px; }

.icecream {
  width: 267px; }

.icecream-price {
  position: absolute;
  bottom: 14px;
  left: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-decoration: none; }

.icecream-price span {
  font-size: 30px; }

.icecream-price img {
  position: absolute;
  left: 82px;
  top: 5px; }

.about-us {
  margin: 0;
  padding: 0;
  padding: 25px 30px 0 20px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #ebdfc4;
  background-image: url(../img/pattern-1.jpg); }

.about-us h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500; }

.about-us p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  position: relative; }

.about-us__first-column, .about-us__second-column {
  width: 540px;
  padding: 0;
  padding-left: 58px; }

.pseudo-icecream::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -57px;
  width: 49px;
  height: 49px;
  background-image: url(../img/pseudo-icecream.svg); }

.pseudo-letter::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -57px;
  width: 49px;
  height: 49px;
  background-image: url(../img/pseudo-letter.svg); }

.pseudo-cow::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url(../img/pseudo-cow.svg); }

.pseudo-thermometer::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -50px;
  width: 49px;
  height: 49px;
  background-image: url(../img/pseudo-thermometer.svg); }

.new-in-blog {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 19px;
  padding-right: 250px;
  border-radius: 20px;
  width: 560px;
  color: #323232;
  background-color: #fff;
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat; }

.new-in-blog h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500; }

.new-in-blog a {
  display: block;
  margin: 0;
  margin-bottom: 75px;
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline; }
  .new-in-blog a:hover {
    color: #e84d37;
    -webkit-text-decoration-color: rgba(236, 89, 60, 0.3);
            text-decoration-color: rgba(236, 89, 60, 0.3); }

.subscribe-email {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 23px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4; }

.repeat-gradient-wrapper {
  border-radius: 20px;
  padding: 5px;
  background-image: -o-repeating-linear-gradient(315deg, #fff, #fff 10px, #92cdff 9px, #92cdff 19px, #fff 19px, #fff 29px, #fe9e90 29px, #fe9e90 39px);
  background-image: repeating-linear-gradient(135deg, #fff, #fff 10px, #92cdff 9px, #92cdff 19px, #fff 19px, #fff 29px, #fe9e90 29px, #fe9e90 39px); }

.subscribe-email fieldset {
  border: none;
  padding: 0; }

.subscribe-email p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0; }

.subscribe-email input {
  width: 350px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  padding: 0;
  padding: 9px 9px 9px 15px;
  margin-right: 10px;
  margin-bottom: 34px;
  border: 1px solid #d3d3d2;
  border-radius: 3px; }
  .subscribe-email input::-webkit-input-placeholder {
    color: #999;
    font-weight: 400; }
  .subscribe-email input::-moz-placeholder {
    color: #999;
    font-weight: 400; }
  .subscribe-email input:-ms-input-placeholder {
    color: #999;
    font-weight: 400; }
  .subscribe-email input::-ms-input-placeholder {
    color: #999;
    font-weight: 400; }
  .subscribe-email input::placeholder {
    color: #999;
    font-weight: 400; }
  .subscribe-email input:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 8px 8px 14px; }

.subscribe-email .button {
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  padding: 10px 20px;
  cursor: pointer; }

.how-to-get {
  position: relative;
  padding: 0;
  min-height: 430px;
  background-color: #d2c8ad;
  color: #323232; }
  .how-to-get img {
    width: 1200px;
    height: 430px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .how-to-get #map {
    display: block;
    position: relative;
    z-index: 3;
    border: none;
    width: 100%;
    height: 430px;
    margin: 0;
    padding: 0; }

.how-to-get::before {
  position: absolute;
  top: 130px;
  left: 280px;
  content: "";
  width: 80px;
  height: 140px;
  background-image: url(../img/map-pin.svg);
  z-index: 2; }

.adress-form {
  padding: 30px 25px;
  width: 302px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
  position: absolute;
  z-index: 3;
  top: 62px;
  right: 27px; }

.adress-form span {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400; }

.adress-form b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; }

.how-to-get__adress {
  margin-bottom: 22px; }

span.working-time {
  line-height: 22px; }

b.phone-number {
  line-height: 22px; }

.adress-form button {
  width: 252px;
  padding: 0;
  padding: 13px 24px;
  cursor: pointer; }

.main-footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fefefe;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 25px; }

.footer-social,
.footer-about-us {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-social {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-social a {
  opacity: 0.8;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-social a {
  margin-right: 11px; }

.footer-social svg {
  width: 39px;
  height: 39px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%; }

.footer-social a:hover path,
.footer-social a:hover rect {
  fill: #fff; }

.footer-social a:active path,
.footer-social a:active rect {
  fill: #e9e9e9; }

.main-footer a {
  color: #fefefe;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400; }

.main-footer p {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  font-weight: 400; }

.footer-about-us {
  height: 50px;
  width: 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
  .footer-about-us span:hover {
    color: #ffbc9e;
    border-color: #ffbc9e; }

.footer-about-us span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative; }

.for-provider {
  font-weight: 700; }

.for-provider::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  left: -18px;
  top: 2px;
  background-image: url(../img/footer-heart.svg);
  background-repeat: no-repeat; }

.developer-logo {
  margin: 0;
  margin-left: 106px; }

.developer-logo img {
  display: block;
  margin-left: auto; }

/*Форма обратной связи*/
.feedback-modal-window {
  background-color: #f8f7f4;
  color: #323232; }

/*Авторизация*/
.form-of-authorization {
  background-color: #f8f7f4; }

.form-of-authorization a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline; }

.form-of-authorization fieldset {
  border: none; }

@-webkit-keyframes magnification {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1); }
  20% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2); }
  30% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  40% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes magnification {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1); }
  20% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2); }
  30% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3); }
  40% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6); }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7); }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

.feedback-modal-window {
  display: none;
  position: fixed;
  width: 480px;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -240px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
  border-radius: 10px;
  padding: 20px 25px 25px 25px;
  z-index: 4; }
  .feedback-modal-window p {
    margin: 0;
    margin-bottom: 22px; }
  .feedback-modal-window input,
  .feedback-modal-window textarea {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;
    padding: 15px;
    border: 1px solid #d3d3d2;
    border-radius: 5px; }
  .feedback-modal-window input:hover,
  .feedback-modal-window textarea:hover {
    border: 2px solid #c7c6c5;
    padding: 14px; }
  .feedback-modal-window input {
    width: 270px;
    margin-bottom: 20px; }
  .feedback-modal-window textarea {
    width: 430px;
    margin-bottom: 25px; }
  .feedback-modal-window button[type="submit"] {
    font-size: 18px;
    line-height: inherit;
    font-weight: 700;
    padding: 10px 24px;
    cursor: pointer; }
  .feedback-modal-window .feedback-modal-window__close-modal {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: 22px;
    right: 35px;
    border: none;
    cursor: pointer; }
    .feedback-modal-window .feedback-modal-window__close-modal:active {
      outline: none; }
  .feedback-modal-window .feedback-modal-window__close-modal::before,
  .feedback-modal-window .feedback-modal-window__close-modal::after {
    content: "";
    position: absolute;
    bottom: center;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #231f20; }
  .feedback-modal-window .feedback-modal-window__close-modal::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .feedback-modal-window .feedback-modal-window__close-modal::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.feedback-modal-window input::-webkit-input-placeholder, .feedback-modal-window textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999; }

.feedback-modal-window input::-moz-placeholder, .feedback-modal-window textarea::-moz-placeholder {
  font-weight: 400;
  color: #999; }

.feedback-modal-window input:-ms-input-placeholder, .feedback-modal-window textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999; }

.feedback-modal-window input::-ms-input-placeholder, .feedback-modal-window textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999; }

.feedback-modal-window input::placeholder,
.feedback-modal-window textarea::placeholder {
  font-weight: 400;
  color: #999; }

.feedback-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3; }

.show-modal {
  display: block; }

.modal-animation {
  -webkit-animation: magnification 0.3s linear;
          animation: magnification 0.3s linear; }

.close-animation {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

.modal-error {
  -webkit-animation: shake 0.4s;
          animation: shake 0.4s; }

.current-page > a {
  background-color: #d07058;
  color: #ffffff;
  border-radius: 35px; }

.inner-page .user-navigation__basket {
  padding: 8px 35px 10px 45px;
  padding-right: 20px;
  border-radius: 35px;
  position: relative;
  background-color: #fff;
  color: #323232;
  font-size: 14px; }

.basket-hover {
  position: relative; }

.basket-hover:hover .basket-table {
  display: block; }

.user-navigation__basket::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 6px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0; }

.basket-table {
  display: none;
  border-radius: 5px;
  padding: 20px 15px 20px 20px;
  width: 540px;
  background-color: #f8f7f4;
  position: absolute;
  right: 0;
  top: 38px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 2; }

.basket-items__all-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; }

.basket-items {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-spacing: 5px 0;
  color: #323232;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px; }

.icecream-name {
  width: 270px;
  margin-right: 5px; }

.basket-items caption {
  caption-side: bottom;
  text-align: right;
  padding-top: 15px; }

.basket-items td span {
  color: #999999; }

.basket-items button {
  position: relative;
  width: 10px;
  height: 10px; }

.basket-table a {
  display: block;
  padding: 14px 16px;
  width: 170px;
  margin-left: auto;
  text-align: center; }

.basket-items button::before,
.basket-items button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 11px;
  height: 1px;
  background-color: #231f20; }

.basket-items button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.basket-items button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.breadcrumbs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  list-style: none;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumbs a, .breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff; }

.breadcrumbs li {
  margin-right: 8px; }

.current-page {
  cursor: default; }

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  color: #ffffff; }

.filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 50px; }

.filter-list {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.filter-list legend {
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500; }

.filter-list-item:nth-child(1) {
  width: 194px; }

.filter-list-item {
  margin-bottom: 15px;
  margin-right: 15px; }

.filter-list-item:nth-child(1) select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 20px;
  background-color: rgba(248, 247, 244, 0.2);
  color: #fff;
  font-family: inherit;
  border: none;
  padding: 7px 12px;
  text-align: center; }
  .filter-list-item:nth-child(1) select option {
    color: #000; }

.filter-list-item:nth-child(1) select:hover {
  color: #000; }

.filter-list-item:nth-child(2) {
  width: 220px; }
  .filter-list-item:nth-child(2) span {
    display: inline-block;
    width: 220px;
    height: 35px;
    background-image: url(../img/filter-button.png); }

.filter-list-item input[type="range"] {
  margin: 0 auto;
  background-color: rgba(248, 247, 244, 0.2); }

.filter-list-item:nth-child(2) input {
  background-color: rgba(248, 247, 244, 0.2); }

.filter-list-item:nth-child(3) {
  width: 417px;
  margin-right: 0; }

.fat-value-list, .filler-list {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px; }

.filter-list-item:nth-child(4) {
  width: 704px; }

.filter-list-item:nth-child(5) {
  margin-right: 0; }

.filler {
  margin-right: 25px;
  padding-left: 27px; }

li.filler:last-child {
  margin-right: 0; }

.fat-value {
  margin-right: 20px;
  padding-left: 29px; }

li.fat-value:last-child {
  margin-right: 0; }

.filler label, .fat-value label {
  position: relative; }

.checkbox-window {
  width: 23px;
  height: 23px;
  border: 2px solid #e6ebe9;
  border-radius: 3px;
  position: absolute;
  left: -28px;
  bottom: -1px; }
  .checkbox-window svg {
    display: none; }

.filler input[type="checkbox"]:checked + .checkbox-window {
  width: 27px;
  border: none;
  border-radius: 0; }

.checkbox-window + span {
  color: #e6ebe9; }

.filler input[type="checkbox"]:checked + .checkbox-window svg {
  display: block; }

.filler input[type="checkbox"]:hover + .checkbox-window {
  border-color: #fff; }

.filler input[type="checkbox"]:hover + .checkbox-window + span {
  color: #fff; }

.filler input[type="checkbox"]:hover + .checkbox-window path,
.filler input[type="checkbox"]:hover + .checkbox-window polygon {
  fill: #fff; }

.filler input[type="checkbox"]:focus + .checkbox-window {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.radio-button-window {
  width: 25px;
  height: 25px;
  border: 3px solid #e6ebe9;
  position: absolute;
  border-radius: 50%;
  left: -28px;
  bottom: -2px; }

.radio-button-window + span {
  color: #e6ebe9; }

.radio-button-window svg {
  display: none; }

.fat-value input[type="radio"]:checked + .radio-button-window {
  border: none; }

.fat-value input[type="radio"]:checked + .radio-button-window svg {
  display: block; }

.fat-value input[type="radio"]:hover + .radio-button-window {
  border-color: #fff; }

.fat-value input[type="radio"]:hover + .radio-button-window + span {
  color: #fff; }

.fat-value input[type="radio"]:hover + .radio-button-window path,
.fat-value input[type="radio"]:hover + .radio-button-window circle {
  fill: #fff; }

.fat-value input[type="radio"]:focus + .radio-button-window {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.form-filter {
  width: 863px; }

.fat-value-list, .filler-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.filler-list {
  padding: 0;
  padding: 8px 16px; }

.fat-value-list {
  padding: 0;
  padding: 9px 15px 8px 15px; }

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.filter ul {
  list-style: none; }

.filter-list-item .filter__button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(248, 247, 244, 0.2);
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
  width: 144px;
  min-height: 36px;
  text-align: center;
  margin-top: 20px;
  margin-right: 0;
  cursor: pointer; }

.filter-list-item .filter__button:hover,
.filter-list-item .filter__button:focus {
  color: #323232;
  background-color: #fbfcfb;
  outline: none; }

.filter-list-item .filter__button:active {
  border: none;
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4); }

label {
  cursor: pointer; }

.all-creamy-icecream {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 41px; }

.all-creamy-icecream p {
  position: relative;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  z-index: 2; }
  .all-creamy-icecream p span {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.all-creamy-icecream p:hover span,
.all-creamy-icecream p:active span {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3); }

.all-creamy-icecream ul {
  list-style: none; }

.creamy-icecreams {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.icecream-item {
  width: 267px;
  margin-right: 26px;
  position: relative; }

.icecream-item > img {
  height: 267px;
  border-radius: 50%;
  margin-bottom: 5px; }

.icecream-item span {
  bottom: 110px;
  left: 0; }

.icecream-item button {
  display: none;
  z-index: 2;
  position: absolute;
  width: 200px;
  padding: 12px;
  left: 30px;
  bottom: -10px; }

.icecream-item:hover button,
.icecream-item:focus button {
  display: block; }

.icecream-item:hover::before,
.icecream-item:focus::before {
  content: "";
  position: absolute;
  left: -14px;
  top: -10px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(248, 247, 244, 0.2);
          box-shadow: 0px 20px 20px 0px rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  width: 295px;
  height: 405px; }

.icecream-item:nth-child(4n) {
  margin-right: 0; }

.pagination-list {
  list-style: none;
  width: 200px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffffff; }
  .pagination-list .pagination-item {
    cursor: pointer;
    margin-left: 2px; }

.pagination-item:first-child {
  margin-right: 4px; }

.pagination-item a {
  color: #fff; }

.pagination-item-current a {
  color: #323232;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.pagination-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%; }

.pagination-item-current {
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%; }

.pagination-item:not(.pagination-item-current):not(:first-child):not(:last-child):hover {
  background-color: rgba(255, 255, 255, 0.2); }

.pagination-item:not(.pagination-item-current):not(:first-child):not(:last-child):active {
  background-color: #ffffff; }

.pagination-list .pagination-item:active a {
  color: #323232; }

.right-arrow {
  margin-left: auto; }

.left-arrow svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.left-arrow path {
  fill: rgba(255, 255, 255, 0.2); }

.rugh-arrow path {
  fill: white; }
