.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //display: none;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-image:
    linear-gradient(237.99deg, rgba(#0073a4, 0.6) 0%, rgba(#001169, 0.6) 100%),
    url(../img/mob_header_bg_1x.jpg);

  background-size: cover;
  transition: all 500ms ease-in-out;
  clip-path: circle(1px at 5% 40px);
}

.main-nav--opened {
  overflow-y: hidden;
  visibility: visible;
  clip-path: circle(100%);
}
