.main-header__container {

  padding: 10px 20px 20px;

}

.main-header {
  position: relative;
    background-image: linear-gradient(237.99deg, rgba(#0073a4, 0.4) 0%, rgba(#001169, 0.4) 100%),
  url(../img/mob_header_bg_1x.jpg);
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(237.99deg, rgba(#0073a4, 0.4) 0%, rgba(#001169, 0.4) 100%),
    url(../img/mob_header_bg_2x.jpg);
  }
}

.main-header__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 218px;
}

.main-header__contacts {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 62px;
}

.main-header__contact-img {
  width: 26px;
  height: 26px;
  fill: #fff;
  transition: all 130ms linear;

  &:hover {
    fill: #56ccf2;
  }
}

.main-header__choice-language {
  display: none;
}


