.contacts {
  @include list-reset;
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: all 130ms linear;

    &:hover {
      color: #56ccf2;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &__link-icon {
    position: absolute;
    top: -3px;
    left: -45px;
    fill: #fff;
  }
}
