.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.project-card__img-container {
  position: relative;
}

.project-card__desc-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 317px;
  margin: 0;
  text-align: center;
  background-color: rgba(#6fcf97, 0.6);
}

.project-card__desc-wrapper--right {
  right: 0;
  left: initial;
}

.project-card__desc-wrapper--blue {
  background-color: rgba(119, 160, 226, 0.6);
}

.project-card__img-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  writing-mode: vertical-lr;
}

.project-card__info-container {
  width: 375px;
  padding: 65px 60px 35px;
}

.project-card__title {
  margin: 0;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
}

.project-card__info-wrapper {
  //margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;
}

.project-card__info-title {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.project-card__client-icon {
  position: absolute;
  top: 3px;
  left: 4px;
  fill: transparent;
  stroke: #6fcf97;
}

.project-card__client-icon--blue {
  stroke: #77a0e2;
}

.project-card__look-btn {
  margin-top: 35px;
}

@media (min-width: $large-device) {

  .project-card {
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
  }

  .project-card--odd {

    .project-card__img-container {
      order: 1;
    }
  }

  .project-card__desc-wrapper {
    height: 435px;
  }

  .project-card__info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 598px;
    min-height: 435px;
    align-items: flex-start;
    padding: 110px 90px 35px;
  }

  .project-card__info-wrapper {
    width: 40%;
    margin: 0;
  }

  .project-card__title {
    width: 100%;
  }
}
