.chess {
  perspective: 500px;
}
.chess__board {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  height: 860px;
  border: 30px solid;
  border-image-source: linear-gradient(to left, #A52A2A, 	#8B4513);
  border-image-slice: 1;
  transform: rotateX(9deg);
}

.chess__cell {
  width: 100px;
  height: 100px;
  background-image: url("../img/ivory.jpg");

  &:nth-child(-2n+8),
  &:nth-child(8) ~ &:nth-child(-2n+15),
  &:nth-child(16) ~ &:nth-child(-2n+24),
  &:nth-child(24) ~ &:nth-child(-2n+31),
  &:nth-child(32) ~ &:nth-child(-2n+40),
  &:nth-child(40) ~ &:nth-child(-2n+47),
  &:nth-child(48) ~ &:nth-child(-2n+56),
  &:nth-child(56) ~ &:nth-child(-2n+63) {
    background-image: url("../img/malachite3.jpg");
  }
  &:nth-child(2n + 7) {
    background-position: 140px 140px;
  }
}
